.ct-title {
    text-decoration: underline;
    color: #575656;
}
.ct-container {
    width: 90%;
    max-width: 400px;
    border: 2px solid grey;
    color: #575656;
    padding: 20px 0;
    box-sizing: border-box;

    > h4 { 
        width: 80%;
        margin: 0 auto;

        > a {
            color: #368BAA;
            margin-bottom: 20px;
            text-decoration: none;
        }
        
    }

    > h3 {
        text-align: center;
    }

    > .ct-info {
        width: 80%;
        margin: 0 auto;
        border: 2px solid grey;

        > .cr-item {
            width: 100%;
            height: 40px;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            border-bottom: 2px solid grey;

            > div {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
                box-sizing: border-box;

                &:nth-of-type(1) {
                    padding-left: 16%;
                }
                &:nth-of-type(2) {
                    justify-content: center;
                }
                &:nth-of-type(3) {
                    justify-content: flex-end;
                    padding-right: 22%;
                }

                > p {
                    margin: 0;
                    padding: 5px 8px;
                    border: 1px solid grey;
                    outline: none;
                    font-size: 18px;
                    color: #0B0EB1;
                    font-weight: 600;
                }
            } 
        }

        > .ct-item-total, .ct-taxes, .ct-to-pay {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 40px;
            color: black;

            > div {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
                box-sizing: border-box;

                &:nth-of-type(1) {
                    padding-left: 13%;   
                }

                &:nth-of-type(2) {
                    justify-content: flex-end;
                    padding-right: 8%;   
                }
            }

            &:not(:last-child) {
                border-bottom: 2px solid grey;
            }
        }

        > .ct-to-pay {
            > div {
                font-size: 20px;
            }
        }
    }

    > .ct-process-to-pay {
        width: 80%;
        margin: 0 auto;
        height: 50px;
        border: 2px solid grey;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        > div {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 600;
            color: black;
            
            &:nth-of-type(1) {
                padding-left: 13%;
            }
            &:nth-of-type(2) {
                justify-content: center;
                border-left: 2px solid grey;
                color: #0B0EB1;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            
        }
    }
}